{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Steam App web{% endblock %}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="{% static 'img/logo_steam2-ai-brush-removebg-g28ncgnt.png' %}" type="image/png"> <!-- Enlace al favicon -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>


<body>
  <header>
    <div class="header-container">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo_steam2-ai-brush-removebg-g28ncgnt.png' %}" alt="Logo" class="logo"></a>
      <h1>Steam web</h1>
      <nav>
          <a href="{% url 'createProducts' %}">Add a Product</a>
          <a href="{% url 'showProducts' %}">Show Products</a>
          <a href="{% url 'showDevelopers' %}">Show Developers</a>
          <a href="{% url 'showPublishers' %}">Show Publishers</a>
          <a href="{% url 'showSteamUsers' %}">Show Steam Users</a>
          
          <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="buttonlogout">Log Out</button>
          </form>
      </nav>
    </div>
  </header>

  <main>
    <div class = "marginForMainContent" >
    {% block content %}
        
    {% endblock %}
    </div>
  </main>
</body>

</html>