{% extends "base.html" %}

{% block title %}Add Developer{% endblock %}

{% block content %}
     
    <form method="post">
        {% for field in form %}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        {% csrf_token %}
        
        {{ form.as_p }}
        <button type="submit" class="button">Add developer</button>
    </form>
    
{% endblock %}
