{% extends "base.html" %}

{% block title %}Add Steam User{% endblock %}

{% block content %}
    

    
<form name="steam_user_form" method="post">
    {% for field in form %}
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Add steam user</button>
</form>


    
{% endblock %}
