{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if app_data %}
        <h1>Product Details</h1>
        <ul>
            {% for key, value in app_data.items %}
                {% if key == 'header_image' %}
                    <li>
                        <strong>{{ key }}:</strong>
                        <br>
                        <img src = "{{ value }}">
                    </li>
                {% else %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Details not found</p>
    {% endif %}

{% endblock %}