{% extends "base.html" %}

{% block title %}Developer Details{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <strong>Name:</strong> {{ developer.name }}
    <br>
    <strong>Developed products:</strong> {{ developer.developedProducts }}
    <br>
    <strong>Products:</strong>
    {% for product in developer.products.all %}
        <li>{{ product.name }}</li>
    {% endfor %}
    <br>
    <a href="{% url 'modifyDeveloper' developer.id %}"><button type="submit">Modify</button></a>
    <a href="{% url 'deleteDeveloper' developer.id %}"><button type="submit">Delete</button></a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> 
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
