{% extends "base.html" %}

{% block title %}Developer Details{% endblock %}

{% block content %}

    <strong>Name:</strong> {{ developer.name }}
    <br>
    <strong>Developed products:</strong> {{ developer.developedProducts }}
    <br>
    <strong>Products:</strong>
    {% for product in developer.products.all %}
        <li>{{ product.name }}</li>
    {% endfor %}
    <br>
    <a href="{% url 'modifyDeveloper' developer.id %}"><button type="submit" class="button">Modify</button></a>
    <a href="{% url 'deleteDeveloper' developer.id %}"><button type="submit" class="button">Delete</button></a>

{% endblock %}
