{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <script type="text/javascript">
        function searchFunction(event) {
            event.preventDefault();
            const inputValue = document.getElementById('inputValue').value;
            window.location.href = "{% url 'search' 'placeholder' %}".replace('placeholder', encodeURIComponent(inputValue));
        }
    </script>
    
    Hi {{ user.username }}!
    <form onsubmit="searchFunction(event);">
        <table>
            <tr>
                <td>
                    <input type="text" name="inputValue" id="inputValue">
                </td>
                <td>
                    <button type="submit" class="button">Search</button>
                </td>
            </tr>
        </table>
    </form>
    
    
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> 
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
