{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <script type="text/javascript">
        function searchFunction(event) {
            event.preventDefault();
            const inputValue = document.getElementById('inputValue').value;
            window.location.href = "{% url 'search' 'placeholder' %}".replace('placeholder', encodeURIComponent(inputValue));
        }
    </script>
    
    Hi {{ user.username }}!
    <form onsubmit="searchFunction(event);">
        <table>
            <tr>
                <td>
                    <input type="text" name="inputValue" id="inputValue">
                </td>
                <td>
                    <button type="submit">Search</button>
                </td>
            </tr>
        </table>
    </form>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>
    <a href="{% url 'createProducts' %}"><button type="submit">Add a Product</button></a>
    <a href="{% url 'showProducts' %}"><button type="submit">Show Products</button></a>
    <a href="{% url 'showDevelopers' %}"><button type="submit">Show Developers</button></a>
    <a href="{% url 'showPublishers' %}"><button type="submit">Show Publishers</button></a>
    <a href="{% url 'showSteamUsers' %}"><button type="submit">Show Steam Users</button></a>
    
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> 
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
