
{% extends "base.html" %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/paginator.css' %}">



    {% if search_value %}
        <h2 id="search_value">Search Results for: {{ search_value }}</h2>
        <h2>Products:</h2>
        <ul>
            {% for product in entity %}
                <li><a href="{% url 'detailedSearch' product.appid %}" class="product-link">{{ product.name }} ({{ product.appid }})</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div>
        {% include 'paginator.html' %}
    </div>
    

{% endblock %}
