{% extends "base.html" %}

{% block title %}Show Developers{% endblock %}

{% block content %}

    {% if developers %}
        <ul>
            {% for developer in developers %}
                <li>{{ developer.name }}</li>
                <a href="{% url 'modifyDeveloper' developer.id %}"><button type="submit" class="button">Modify</button></a>
                <a href="{% url 'deleteDeveloper' developer.id %}"><button type="submit" class="deleteButton">Delete</button></a>
                <a href="{% url 'developerDetails' developer.id %}"><button type="submit" class="button">Show details</button></a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No developers found.</p>
    {% endif %}

{% endblock %}