{% extends "base.html" %}

{% block title %}Show Publishers{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if publishers %}
        <ul>
            {% for publisher in publishers %}
                <li>{{ publisher.name }}</li>
                <a href="{% url 'modifyPublisher' publisher.id %}"><button type="submit">Modify</button></a>
                <a href="{% url 'deletePublisher' publisher.id %}"><button type="submit">Delete</button></a>
                <a href="{% url 'publisherDetails' publisher.id %}"><button type="submit">Show details</button></a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No publishers found.</p>
    {% endif %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> 
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}