{% extends "base.html" %}

{% block title %}Show Products{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% for product in products %}
        <li>{{ product.name }}</li>
        <a href="{% url 'modifyProduct' product.id %}"><button type="submit">Modify</button></a>
        <a href="{% url 'deleteProduct' product.id %}"><button type="submit">Delete</button></a>
        <a href="{% url 'productDetails' product.id %}"><button type="submit">Show details</button></a>
    {% endfor %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> 
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}