{% extends "base.html" %}

{% block title %}Show Products{% endblock %}

{% block content %}

    {% if products %}
        <ul>
            {% for product in products %}
                <li>{{ product.name }}</li>
                <a href="{% url 'modifyProduct' product.id %}"><button type="submit">Modify</button></a>
                <a href="{% url 'deleteProduct' product.id %}"><button type="submit">Delete</button></a>
                <a href="{% url 'productDetails' product.id %}"><button type="submit">Show details</button></a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products found.</p>
    {% endif %}    

{% endblock %}